/* Move the position of the title */
.navbar-brand { 
    padding: 20px !important;  
    height: 40px !important; 
}


.navbar a {
    color: #532E1F !important; /* Change color all links within navbar */
}

.navbar-nav>li>a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    line-height: 40px !important; 
}

.navbar-nav > li > a:hover {
  background-color: #FFFFFF !important;
}

.navbar-nav > .active > a {
  background-color: #FFFFFF !important;
  font-weight: bold;
}

.navbar {
  background-image: url("pictures/bg.png"); /*Specify the image path */
  background-size: cover;  /* Adjusts image size to cover the entire element */
/*  background-size: 100% 100px;  */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents image from repeating */
  /* Add other styling for the navbar as needed */
  height: 70px; /* Example height, adjust as needed */
  border: 0px;
}